.footer__link {
    margin: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.footer__link:hover {
    transition: opacity 0.7s;
    opacity: 0.8;
  }
