.cover {
    padding: 12px 48px;
}

@media screen and (max-width: 1024px) {
    .cover {
      padding: 12px 0;
    }
  }

  @media screen and (max-width: 768px) {
    .cover {
      padding: 18px 0 88px;
    }
  }

  @media screen and (max-width: 665px) {
    .cover {
      padding: 16px 0 64px;
    }
  }
