.cover {
  padding: 12px 48px 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 18px;
  }
}

@media screen and (max-width: 665px) {
  .cover {
    padding-top: 16px;
  }
}
